@import "tailwindcss";

@theme {
  /* Masukkan warna custom lo di sini */
  --color-bssn-dark: #1a233a;
  --color-bssn-blue: #2c3e50;
  --color-bssn-gold: #c5a059;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
}